!
! ~/.Xresources
!

! X Settings
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  slight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
!Xcursor.theme: pixelfun

URxvt.termName: rxvt-256color
!URxvt.geometry: 107x28
URxvt.depth: 32
URxvt.scrollstyle: rxvt
URxvt.scrollBar: off
URxvt.urgentOnBell: True
URxvt.visualBell: True
URxvt.cursorColor: #00FF00
URxvt.colorBD: #B5BD68
URxvt.colorIT: #B294BB
URxvt.colorUL: #81A2BE

! font
URxvt.letterSpace: -1
URxvt.font: xft:Fira Mono:pixelsize=14, xft:Inconsolata for Powerline

! extensions
URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select
! clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
! keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.autocopy: true
URxvt.url-select.button: 1
URxvt.url-select.launcher: /usr/ckground: #151515





*foreground: #DDCCBB

! Brown BG
!*background: #30251D

! Grey BG
*background: #151515


!black
*color0:     #393939
*color8:     #AF875F
!red
*color1:     #BF1E2D
*color9:     #E7212A
!green
*color2:     #9DBA3A
*color10:    #A9C938
!yellow
*color3:     #F5B915
*color11:    #F7D325
!blue
*color4:     #1CA1DB
*color12:    #00AFDA
!magenta
*color5:     #652F90
*color13:    #894E9F
!cyan
*color6:     #EA7D24
*color14:    #F79321
!white
*color7:     #E7E8E9
*color15:    #F3F3F4

